@model ProjectHQTCSDL.Models.Lyric
@{
    ViewBag.Title = "ShowLyric";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <style>
        header .song_side::before {
            content: '';
            height: 300px;
            background: none;
        }
    </style>
    var getBaiHat = Session["BaiHat"] as ProjectHQTCSDL.Models.Music;
}

<div style="padding: 20px;">


    <div class="container" style="height: 50px; width: 100%; display: flex; justify-content:center; align-items:center; border: 1px solid aqua; margin-right: 20px; border-radius: 10px; margin-bottom: 10px;">
        <strong style="font-size: 30px; color: #36e2ec;">  Lyric: @getBaiHat.tenBaiHat</strong>
    </div>
    <div style="display: flex; justify-content:center;align-content:center;justify-items:center; ">
        @{
            if (Model != null)
            {
                <p style="width: 200px;">@Model.loiBaihat</p>
            }
            else
            {
                <p>Hiện Tại chưa có lyric</p>
            }
        }
    </div>
</div>

