<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/StyleMain.css">
    <title>Music App</title>
</head>

<body>
    <header>
        <div class="menu_side">
            <h1>Playlist</h1>
            <div class="playlist">
                <h4 class="active"><span></span><i class="bi bi-music-note-beamed"></i> Playlist</h4>
                <h4><span></span><i class="bi bi-music-note-beamed"></i> Last Listening</h4>
                <h4><span></span><i class="bi bi-music-note-beamed"></i> Recommended</h4>
            </div>
            <div class="menu_song">
                <li class="songItem">
                    <span>01</span>
                    <img src="~/img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="1"></i>
                </li>
                <li class="songItem">
                    <span>02</span>
                    <img src="img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="2"></i>
                </li>
                <li class="songItem">
                    <span>03</span>
                    <img src="img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="3"></i>
                </li>
                <li class="songItem">
                    <span>04</span>
                    <img src="img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="4"></i>
                </li>
                <li class="songItem">
                    <span>05</span>
                    <img src="img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="5"></i>
                </li>
                <li class="songItem">
                    <span>06</span>
                    <img src="img/1.jpg" alt="Alan">
                    <h5>
                        On My Way
                        <div class="subtitle">Alan Walker</div>
                    </h5>
                    <i class="bi playListPlay bi-play-circle-fill" id="6"></i>
                </li>
            </div>
        </div>

        <div class="song_side" style="overflow: auto;">
            @* header *@
            <nav>
                <ul>
                    <li>Discover <span></span></li>
                    <li>MY LIBRARY</li>
                    <li>RADIO</li>
                </ul>
                <div class="search">
                    <i class="bi bi-search"></i>
                    <input type="text" placeholder="Search Music...">
                </div>
                <div class="user">
                    <img src="~/img/KDS CODER.png" alt="User" title="KDS CODER (Jahid Khan)">
                </div>
            </nav>

            @RenderBody()

        </div>
    @* MAster play Music  *@
    <div class="master_play">
        <div class="wave">
            <div class="wave1"></div>
            <div class="wave1"></div>
            <div class="wave1"></div>
        </div>
        @{
            ProjectHQTCSDL.Models.ProjectMusicEntities db = new ProjectHQTCSDL.Models.ProjectMusicEntities();
            var getBaiHat = Session["BaiHat"] as ProjectHQTCSDL.Models.Music;
            var getSingerMaster = new List<ProjectHQTCSDL.Models.CaSi>();
            if (getBaiHat != null)
            {
                getSingerMaster =  db.CaSis.Where(x => x.idCaSi == getBaiHat.idCaSi).ToList();
                if (getSingerMaster != null && getSingerMaster.Count > 0)
                {
                    ViewBag.getSingerMaster = getSingerMaster[0];
                }
            }

        }
        @if (getBaiHat != null)
        {
            <img style="object-fit:cover;" src="~/Images/@getBaiHat.imgMusic" alt="Alan" id="poster_master_play">
        }
        else
        {
            <img src="~/img/26th.jpg" alt="Alan" id="poster_master_play">

        }
    <h5 id="title">

        @if (getBaiHat != null)
        {
            <div style="margin-bottom: -15px;">@getBaiHat.tenBaiHat</div>
        }
        else
        {
            <div>Hello</div>
        }
        <br>
        @if (ViewBag.getSingerMaster != null)
        {
            <div  style="margin-top: 10px;" class="subtitle">@ViewBag.getSingerMaster.tenCaSi</div>
        }
        else
        {
            <div class="subtitle">Bankim Chandra</div>
        }
    </h5>
        <div class="icon" style="display: flex; align-items: center;">
            <i class="bi bi-skip-start-fill" id="back"></i>
            <i class="bi @*bi-play-fill*@" id="masterPlay">
                @if (Session["Music"] == null)
                {
                    <audio src="~/Content/audio/1.mp3" controls></audio>
                }
                else
                {

                    <audio src="~/Audio/@Session["Music"]" controls></audio>
                }
            </i>
            <i class="bi bi-skip-end-fill" id="next"></i>
        </div>
    </div>
    </header>
    <script src="app.js"></script>
</body>

</html>